@media(max-width: 1225px){
    .phone{
        position:absolute;
        top:100px;
        left:50%;
        transform:translateX(-50%);
    }

    .about__content{
        margin: 100px 10px 0 10px;
    }
}


@media(max-width: 1103px){
    .top__slider,
    .slider__arrows{
        display: none;
    }
    
    .menu__list-item{
        margin-right: 30px;
    }

    .about__content{
        justify-content: space-around;
    }

    .theater__img{
        display: none;
    }
}

@media(max-width: 916px){
    .contact__info{
        display: none;
    }
}

@media(max-width: 916px){

    .phone{
        position: absolute;
        top: 55px;
        right: 20px;
        left: unset;
        height:fit-content;
        transform: unset;
    }

    .menu{
        justify-content: space-between;
    }

    .menu__btn{
        display: block;
        z-index: 10;
        transition: all .5s;
    }
    
    .menu__btn--active{
        position:absolute;
        width: 16px;
        height: 16px;
        background-image: url(..//img/close-btn.svg);
        top: 38px;
        left: 300px;
        cursor: pointer;
        transition: all .5s;
    }

    .menu__btn.menu__btn--active.line__top{
        display: none;
    }

    .menu__list{
        position: absolute;
        width: 350px;
        height: 800px;
        top: 0;
        left: 0;
        padding-top: 140px;
        padding-left: 39px;
        background-color: #333;
        display: block;
        z-index: 2;
        transform: translateX(-300%);
        transition: all .5s;
    }

    .menu__list.menu__list--active{
        transform: translateX(0);
        transition: all .5s;
    }

    .lines--active{
        display: none;
    }

    .menu__list-link{
        font-family: Open Sans Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    .menu__list-item{
        margin-bottom: 35px;
    }

    .contact__info{
        display:flex;
        width: 131px;
        height: 131px;
        flex-direction:row;
        z-index: 3;
        background-color: transparent;
        position: absolute;
        top: 534px;
        left: 80px;
    }

    .contact__info-txt{
        display: none;
    }

    .line{
        display: none;
    }

    .insta, .fb,
    .yt, .vk{
        z-index: 2;
        margin: 0;
        position: absolute;
        transform: translateX(-500%);
        transition: all .5s;
    }

    .refs--active{
        transform: translateX(0);
        transition: all .5s;
    }

    .insta{
        width: 45px;
        height: 45px;
        right: 0;
        background-image: url(..//img/instaMenu-icon.svg);
    }

    .fb{
        width: 26px;
        height: 45px;
        left: 0;
        background-image: url(..//img/fbMenu-icon.svg);
    }

    .yt{
        width: 45px;
        height: 31px;
        bottom: 0;
        left: 0;
        background-image: url(..//img/ytMenu-icon.svg);
    }

    .vk{
        width: 45px;
        height: 25px;
        bottom: 0;
        right: 0;
        background-image: url(..//img/vkMenu-icon.svg);
    }
}

@media(max-width: 715px){
    .about__content{
        display: block;
    }

    .about__info{
        margin: 0 auto;
        max-width: 1110px;
        text-align: center;
    }
}

@media(max-width: 640px){
    .phone{
        margin-right: 40px;
    }

    .top__info .title{
        font-size: 48px;
        letter-spacing: 0.05em;
    }

    .top__info {
        margin-left: 10px;
    }

    .top__info .button {
        margin-top: 100px;
    }
}

@media(max-width: 424px){
    .top__info .title{
        font-size: 40px;
        letter-spacing: 0.05em;
    }

    .top__info {
        font-size: 30px;
    }
}